
.chart {
    padding: 10px;
}

.post {
    fill: BurlyWood;
}

path {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.tick {
    fill: none;
    stroke: black;
}

#infobox {
    position: absolute;
    height: 250px;
    width: 300px;
    top: 20px;
    right: 50px;
    display: none;
    padding: 5px 15px;
    background-color: BlanchedAlmond;
    font-family: sans-serif;
    overflow: hidden;
    border: 1px solid DarkGray;
}

#infobox h3 {
    text-align: center;
}

#infobox .time {
    font: 80% Helvetica;
    padding-bottom: 5px;
}

#infobox .post-answers {
    font: 90% Helvetica;
    padding-top: 15px;
}

.form-search {
    padding: 15px;
}
